.searchdrop {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 16px !important;
}

.searchbar {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.39);
  color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem !important;
}

.searchbar .custominput {
  border-radius: 2rem !important;
  padding: 0 0.3rem;
}

.searchdropcontent {
  position: absolute;
  border-radius: 0.5rem;
  background-color: rgba(8, 8, 8, 0.966);
  color: white;
  width: 100%;
  margin-top: 0.5rem;
  overflow-y: auto;
  z-index: 1000;
  max-height: 23rem;
}

.communitysearchresult {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw;
  cursor: pointer;
}

.communitysearchresult:hover {
  background: rgba(29, 28, 28, 0.1);
  color: white;
}

.searchedcommunityabout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0 0.3rem;
}

.searchedcomunityname {
  font-weight: 500;
  color: white;
  height: 100%;
}

.searchedcommunitymembers {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7vw;
  height: 100%;
}

.communitysearchicn {
  font-size: 1.1vw !important;
  line-height: 16px !important;
  height: 100% !important;
}

.errsearchcomunityname {
  margin-left: 0.3rem;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.3);
}

.errsearchinput {
  margin-left: 0.3rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 450;
}