.loginpagewrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #223748, black, black);
}

.loginpagebtnwrapper {
  margin: 1vw 0;
}

@keyframes run {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(0);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.loginpagecard {
  background: black;
  width: 53%;
  height: 70%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0 5px -2px var(--main-color);
}

.loginpagegreetings {
  width: 50%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: inherit;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  box-shadow: 0.1rem 0 10px -2px rgba(255, 255, 255, 0.4);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.glock {
  animation-name: run;
  animation-duration: 1s;
}

.loginpagegreetinglogowrapper {
  height: 7vw;
  width: 100%;
}

.loginpagegreetinglogo {
  max-height: 100%;
  max-width: 7vw;
}

.loginpagegreetingsbody {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginpagegreetingcontent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.animatable {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 0;
  animation: typing 3s steps(20, end) forwards,
    cursor 0.5s step-end infinite alternate;
  animation-delay: 0s;
}

.animatable:nth-child(1) {
  animation-delay: 0s;
}

.animatable:nth-child(2) {
  animation-delay: 1s;
}

.loginpagegreetingbodytxt {
  font-size: 1.3vw;
  color: var(--main-color);
}

.loginpagegreetingbodymetatxt {
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.3);
}

.loginpageform {
  height: 100%;
  right: 0;
  width: 50%;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  color: var(--main-color);
}

.loginpagesignuppage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.loginpageformhead {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
  cursor: pointer;
}

.loginpageformheadtxt {
  font-size: 1.3vw;
  font-weight: 500;
}

.check {
  font-size: 0.7vw;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -0.2rem;
  align-items: center;
}

.loginpageformheadmetatxt {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8vw;
}

.loginwithother {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trytxt {
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 0.9vw;
  text-transform: capitalize;
}

.policyuser {
  margin: 1% 0;
  color: grey;
  font-size: 0.7vw;
}

.loginpageformbody {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

.loginpageformloginform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginpageinputs {
  width: 100%;
  height: 2.5vw;
  color: rgba(255, 255, 255, 0.3);
  background: rgba(43, 37, 37, 0.1);
  margin: 0.5rem 0;
  border-radius: 0.3rem;
}

.loginpageforgotpass {
  display: flex;
  font-size: 0.9vw;
  font-weight: 450;
  color: rgba(255, 255, 255, 0.3);
}

.loginpageextrapd {
  padding: 0 0.3rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.loginpageextrapd:hover {
  color: var(--main-color);
}

.magiclinkicon {
  width: 1rem;
  margin: 0 0.5rem;
  height: 1rem;
}

.clicksignupbox {
  width: 100%;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.clicksignuppic {
  height: 100%;
  width: 100%;
}

.clicksignuptitle {
  font-weight: 500;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicksignuptitleicn {
  color: #2196f3;
  font-size: 20px;
  margin-left: 0.3rem;
}

.clicksignupmetatitle {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

/* other logins ----------------------------------------*/
.loginwithother {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginthrough {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 1vw; */
}
