.modal {
  line-height: 16px;
  background-color: rgba(1, 11, 17, 0.9);
  box-shadow: 2px 2px #0d0c0c;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 1rem 1.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 470;
  border-radius: 0.7rem;
}

.modallogowrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vw;
  width: 100%;
  margin-bottom: 1rem;
}

.modallogo {
  height: 100%;
  width: auto;
}

.btnwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.btnwrapper .patselectedbtn,
.btnwrapper .patclearbtn {
  margin: 0 0.3vw;
}

.modaltxt {
  font-size: 1.3vw;
  font-weight: 500;
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99c9f0;
}

.modaltxtlogo {
  margin-right: 0.3rem;
}

.modalmetatxt {
  font-size: 1vw;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
}
