.pollwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 0.7rem;
}

.poll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  width: 100%;
  color: rgba(255,255,255,0.7);
  font-weight: 470;
}

.poll:hover {
  border-color: white;
  cursor: pointer;
}

.pollstatus {
  font-size: 0.9rem;
  color: rgba(255,255,255,0.3);
  font-weight: 450;
}