.post {
  border-radius: 0.5rem;
  margin-top: 1rem;
  background: #090808e8;
  display: flex;
  align-items: stretch;
  box-shadow: 1px 1px black;
}

.postcontent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0.3rem;
}

.postheader {
  max-height: 9rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.posttitle {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-top: 0.5rem;
}

.headingpicwrapper {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.headingpic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.pictitle {
  width: 100%;
  color: rgba(255,255,255,0.4);
}

.metapictitle {  
  font-size: 0.7rem;
}

#usrname {  
  font-size: 1vw;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  font-weight: 500;
}       

#communityname {  
  font-size: 1vw;
  font-weight: 500;
  color: rgba(255,255,255,0.8);
}

#usrname:hover {
  color: white;
  text-decoration: underline;
}

.joincommunity {
  margin-left: auto;
  margin-right: 0.5rem;
}

.joincommunitybtn {
  border-radius: 0.5rem;
  height: 22px !important;
  line-height: 26.4px !important;
  text-transform: capitalize;
  font-weight: 530;
  padding: 0 7px;
  background-color: #37474f;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linktoclick {
  width: 100%;
}

.headingtitle {
  font-size: 1.3vw;
  color: rgba(255,255,255,0.7);
  max-height: 4rem;
  font-weight: 410;
  width: 98%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.postblog{
  margin-top: 0.5rem;
  height: 100%;
  padding: 0 0.5rem;
  font-size: 1vw;
  color: rgba(255,255,255,0.3);
  max-width: 40rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.postimage {
  margin-top: 0.5rem;
  margin-left: -0.2rem;
  max-height: 23rem;
  height: 100%;
  position: relative;
  width: 101%;
}

.totalimg {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  font-size: 0.5rem;
  padding: 0.1rem 0.3rem;
  color: black;
  font-weight: 500;
}

.rightimagebutton, .leftimagebutton {
  position: absolute;
  bottom: 50%;
  border-radius: 50%;
  background: rgba(255,255,255,0.1);
  font-size: 1.3rem;
}

.rightimagebutton {
  right: 0.5rem;
}

.leftimagebutton {
  left: 0.5rem;
}
  
.leftimagebutton:hover, .rightimagebutton:hover {
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.posts {
  width: 100%;
  height: 100%;
}

.post_caption {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  width: 100%;
  color: rgba(255,255,255,0.7);  
  background: rgba(0,0,0,0.1);
  z-index: 1;
  margin-top: -2rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.post_caption:hover {
  background: rgba(0,0,0,0.2);
  color: white;
} 

.postlink {
  padding-left: 0.5rem;
}

.postpoll {
  display: flex;
  width: 100%;
}

.postfooter{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.footer, .footersave, .footerpin {
  color: rgba(255,255,255,0.7);
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  background: #111313;
  border-radius: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downvote {
  margin-left: 0.5rem;       
}

.upvote {
  margin-right: 0.5rem;       
}

.upvote:hover {
  color: #2196F3;
}

.downvote:hover {
  color: #f44336;
}

.footersave {
  margin-left: 0.5rem;
}

.footerpin {
  margin-left: auto;
  margin-right: 1rem;
}

.footertxt {
  padding-left: 0.3rem;
  margin-top: -0.2rem;
}

.footersave:hover {
  color: white;
  background: #f0f6f90d;
}

.footerpin:hover {
  color: white;
}

.none {
  display: none;
}