.sortpannel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.sortpanelicn {
  margin-bottom: auto;
}

.sortposts {
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 80%;
  width: 70%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  background: rgba(38, 36, 36, 0.08);
  border-radius: 1.3rem;
}

.sortposttabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  font-size: 0.9vw;
  font-weight: 430;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent; 
  background: rgba(38, 35, 35, 0.1);
  color: rgba(255,255,255,0.3);
  margin: 0 0.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
}

.sortposttabs:hover {
  border-color: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.7);
}

.sortpoststxt {
  font-weight: 500;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.3);
}

.sortpanelbtn, .sortpanelbtnlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 50%;
  line-height: 26.4px !important;
  font-size: 0.9vw;
  color: rgba(255,255,255, 0.9);
  padding: 0.2rem 0.8rem;
  border-radius: 1.5rem;
  border: 0.1rem solid transparent;
  background: rgba(38, 35, 35, 0.1);
}

.sortpanelbtn:hover, .sortpanelbtnlogin:hover  {
  border-color: rgba(255,255,255,0.1);
}

.sortpanelbtnlogin {
  margin-left: auto;
  margin-right: 1rem;
}

.sortpaneloptions{
  height: 100%;
  width: 30%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortpanelbtnicn {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

.sortpanelsortoptions {
  width: 41%;
  height: 60%;
  margin: 0 0.5rem;
  background: rgba(38, 35, 35, 0.1);
  color: rgba(255,255,255, 0.9);
  border-radius: 0.5rem;
  font-size: 0.9vw;
}

