.chatgroupsettingwrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.groupsettingtabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9vw;
  font-weight: 500;
  text-transform: capitalize;
  width: 100%;
}

.groupsettingbody {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.groupsettingoption,
.groupsettingoptionbtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1vw;
  font-weight: 500;
  text-transform: capitalize;
}

.groupsettingoptionbtns {
  justify-content: flex-end;
}

.groupsettinginput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.aboutgroupinput {
  height: 2vw;
  width: 100%;
  color: rgba(255, 255, 255, 0.2);
}

.aboutgroupinput .custominput {
  border-radius: 2rem;
}

.groupsettingcolorpicker {
  width: 2vw;
  height: 1.5vw;
  border-radius: 2rem;
  padding: 0px;
  background: black;
  border: 2px solid #64b5f6;
  cursor: pointer;
}

.groupsettingmedia {
  height: 2.5rem;
  width: 41%;
}

.groupchooser {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.2rem 0.7rem;
  border-radius: 1vw;
  font-size: 0.8vw;
  margin: 0.3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.groupchooser:hover {
  border-color: white;
  color: white;
}

.groupusers,
.foundinmates,
.selectedinmates {
  display: flex;
  width: 100%;
  padding: 0.1rem;
  max-height: 10rem;
  flex-wrap: wrap;
}

.groupsettingbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
  font-weight: 500;
  padding: 0.2rem 0.7rem;
  margin: 0rem 0.5rem;
  text-transform: capitalize;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.groupsettingbtn:hover {
  border-color: white;
}

.groupsettingbtnicn,
.groupsettinghandlericn {
  height: 100% !important;
  line-height: 15px !important;
  font-size: 1vw !important;
  padding: 0 0 0 0.5rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.groupsettinghandlericn {
  line-height: 16px !important;
}

.selectedtab {
  border-color: #64b5f6;
  color: #64b5f6;
}

.groupsettingtext,
.groupsettingtitle {
  font-size: 0.8vw;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.groupsettingtitle {
  width: 100%;
}

.groupprofilepicwrapper {
  max-height: 7vw;
  max-width: 7vw;
  border-radius: 0.5rem;
  position: relative;
}

.groupprofilepic {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.roomprofile {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
}

#room_profile {
  opacity: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.chatgrouprequestswrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  flex-direction: column;
}

.chatgrouprequestinput {
  height: 2.7rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
}

.groupsettingtitles,
.groupsettinghandlers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 16px;
}

.groupsettingtitles {
  flex-direction: column;
}

.groupsettingmetatitle {
  font-size: 0.7vw;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.2);
}