.rchatcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  position: relative;
}

.chattitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.7rem 1rem;
  font-weight: 430;
  color: #cfd8dc;
}

.chatuserpage {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatuserpageicn {
  font-size: 1rem !important;
  height: 100% !important;
  line-height: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
}

.chattitleicnwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.chattitleicn {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.3vw !important;
  line-height: 16px !important;
  height: 100% !important;
  cursor: pointer;
  margin: 0 0.1rem;
}

.chattitleicn:hover {
  color: rgb(232, 132, 132);
}

.chatbody {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.createroom {
  width: 96%;
  height: 2.5rem;
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
  background: black;
}

.searchusernametxt {
  color: rgba(255, 255, 255, 0.5);
  width: 94%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.7rem;
  font-size: 0.8vw;
}

.roomcreation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-height: 21%;
  width: 96%;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  margin: 0.3rem 0;
  background: black;
}

.groupname {
  height: 1.3rem;
  width: 100%;
  margin: 0.3rem 0;
  color: transparent;
}

.selectedGroupUsers {
  color: rgba(255, 255, 255, 0.6);
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  flex-wrap: wrap;
  font-size: 0.7vw;
  padding: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.031);
}

.groupUser {
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  padding: 0 0.5rem;
  margin: 0.3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.groupUser:hover {
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.suggestedusername {
  max-height: 65%;
  color: rgba(255, 255, 255, 0.3);
  width: 94%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-top: 0.7rem;
  margin-bottom: auto;
  font-size: 0.9vw;
}

.foundedusernames {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(242, 236, 236, 0.04);
  padding: 0.1rem 0.5rem;
  font-size: 0.9vw;
  font-weight: 500;
  margin: 0.5rem;
  border-radius: 1.3rem;
  cursor: pointer;
  border: 0.1rem solid transparent;
}

.foundedusernames:hover {
  background: rgba(242, 236, 236, 0.11);
  color: white;
}

.foundeduserpicwrapper {
  height: 1.9vw;
  width: 1.9vw;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  border: 0.1rem solid black;
}

.foundeduserpic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.createroombtns {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  width: auto;
  margin-bottom: 0.9vw;
  align-items: center;
}

.createroombtns .patselectedbtn,
.createroombtns .patclearbtn {
  margin: 0 0.5vw;
}

.createroom input {
  color: white;
}

/* chatroomoptions  */
.chatroomoptionsdrop {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
}

.chatroomoptionwrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
  width: 8rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -4.5rem;
  margin-top: 0.3rem;
}

.chatroomoption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1rem;
  width: 100%;
  padding: 0 0.3rem;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  font-size: 0.9vw;
  font-weight: 500;
}

.chatroomoptionicn {
  line-height: 31px !important;
  height: 100% !important;
  font-size: 1.2vw !important;
  margin-left: auto;
}

.chatroomoption:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.chatroomoption:hover .chatroomoptionicn {
  color: #ef9a9a;
}

/* !chatroomsoptions  */
.startnewchat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chatlogowrapper {
  height: 9vw;
  width: 9vw;
  margin-bottom: auto;
  margin-right: auto;
}

.chatlogo {
  height: 100%;
  width: 100%;
}

.startnewchatbody {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startnewchattext {
  font-weight: 450;
  font-size: 1vw;
}

.startnewchatmetatext {
  font-size: 0.8vw;
  color: #82c2f4;
  font-weight: 500;
}

.startnewchatbtnwrapper {
  margin-top: 1rem;
}

.startnewchatbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: #54acf5d0;
  font-size: 0.9vw;
  font-weight: 500;
  padding: 0.1vw 0.8vw;
  text-transform: capitalize;
}

.startnewchatbtn:hover {
  background: #64b5f6;
}
