.infousercommunitycontent {
  padding: 0.5rem;
  width: 100%;
}

.userscommunitytitle {
  color: #90a4ae;
  font-size: 1vw;
  font-weight: 450;
}

.userscommunitycontent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
}

.userscommunitycontent .patbtn {
  margin: 0 0.3vw;
}
