/* login box ------------------------ */
.loginbox {
  width: 27vw;
  background-color: rgb(0, 0, 0, 0.9);
  box-shadow: 3px 3px #5b585845;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  line-height: 23px;
  padding: 1rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.closeicn {
  margin-left: auto;
  cursor: pointer;
  color: grey;
  font-size: 1.7vw;
}

.closeicn:hover {
  color: white;
}

.logincardlogowrapper {
  display: flex;
  align-self: flex-start;
  height: 6vw;
  width: 6vw;
  margin: 0rem 2rem 3rem 1rem;
}

.logincardlogo {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.logincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 85%;
  margin: 0rem auto;
}

.ortxt {
  width: 100%;
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  font-size: 1vw;
}

.fliploginbox {
  color: grey;
  font-size: 0.9vw;
}

.fliploginboxbtn {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  padding-left: 0.2rem;
  font-size: 0.8vw;
}

.fliploginboxbtn:hover {
  color: var(--main-color);
  text-decoration: none;
  text-decoration: underline;
}

.tc {
  font-size: 0.9vw;
  color: grey;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login ----------------------------------------*/
.form,
.forgetform,
.magicloginform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.forgetform {
  background-image: url("../../img/confuse_panda.png");
  background-size: 50%;
  background-attachment: center;
  background-repeat: no-repeat;
  background-position: center;
}

.loginforminp {
  color: rgba(255, 255, 255, 0.3);
  height: 2.5em;
  width: 100%;
  margin: 0.5rem 0rem;
  box-shadow: 3px 3px #0d0c0c;
}

.forgotpass {
  color: grey;
  margin: -7%;
  font-size: 0.9vw;
  margin: 0.1rem 0;
}

.fpassword:hover {
  color: white;
  cursor: pointer;
}

.loginbtnwrapper {
  margin: 0.5vw 0;
}

/* signup -------------------------------------*/
.policy {
  margin-top: 7%;
  color: grey;
  font-size: 0.7vw;
}

.policytxt {
  margin: 1rem 0;
  font-size: 0.83vw !important;
}

.signupshowpwd {
  display: flex;
  font-size: 0.8vw;
  width: 100%;
  font-weight: 500;
  justify-content: flex-end;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.signupshowpwdicn {
  margin-left: 0.3vw;
  font-size: 1vw !important;
  line-height: 16px !important;
}

.signupshowpwd:hover {
  cursor: pointer;
  color: rgba(160, 218, 245, 0.9);
}

/* magic login -------------------------------------*/
.magiclinkinfo {
  font-weight: 500;
  margin: 1rem 0;
  font-size: 0.83vw !important;
  display: flex;
  justify-content: center;
}

.magicloginform {
  background-image: url("../../img/magic_panda.png");
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.magiclinksent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.magiclinksentimg {
  width: 47%;
}

.magiclinksenthead,
.magiclinkformhead {
  font-size: 1.2vw;
  color: #b2d4f7;
  font-weight: 500;
  margin-bottom: 1rem;
}

.magiclinksentbody,
.magiclinkformbody {
  margin-bottom: 1rem;
}

.magiclinksentinfo,
.magiclinksentmail,
.magiclinkforminfo {
  font-size: 0.9vw;
  color: #90c6f2a3;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 100%;
}

.magiclinksentmail {
  font-size: 1vw;
  color: white;
}

.magiclinkforminfo {
  font-size: 0.8vw;
  color: grey;
  font-weight: 450;
}

.magiclinkbtnimg {
  width: 1.7rem;
  padding-right: 0.7rem;
}

.magiclinkbtnicn {
  font-size: 1.5vw !important;
  line-height: 15px !important;
  height: 15px !important;
  padding-left: 0.5rem;
}

/* other logins -------------------------------------------*/
.otherformlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.otherformlogin .patbtn {
  margin: 0 0.3vw;
}
