.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityform {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1vw;
  width: 45%;
  height: auto;
  color: white;
  background: #030303;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.7rem;
  line-height: 16px;
  padding: 0.5rem;
  background-image: url("./../../../img/logo_bg.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

.closeicn {
  color: rgb(255, 255, 255, 0.6);
  font-size: 1.5vw !important;
  height: 100% !important;
}

.closeicn:hover {
  cursor: pointer;
  color: rgb(252, 104, 104);
}

.communityformname {
  margin: 0.5vw 0;
  display: flex;
  width: 100%;
  text-transform: capitalize;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 1vw;
  color: rgba(248, 243, 243, 0.8);
}

.communityformtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.formtitle {
  font-size: 1.4vw;
  font-weight: 500;
}

.createcommunityusername,
.createcommunitydesc {
  width: 100%;
  margin: 0.5vw 0;
  height: 2.9vw;
  color: rgb(255, 255, 255, 0.6);
}

.createcommunitydesc {
  height: 4vw;
}

.createcommunityusername input,
.createcommunitydesc input {
  color: rgba(255, 255, 255);
}

.nameinfo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  font-weight: 500;
  font-size: 0.7vw;
  color: rgba(255, 255, 255, 0.3);
}

.nameinfoicn {
  height: 100% !important;
  margin-right: 0.3vw;
  font-size: 1vw !important;
  line-height: 16px !important;
}

.forminputpadding {
  margin-right: -1rem;
}

.communityformtype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.1vw 0;
  width: 100%;
}

.communitytype {
  margin: 0.4vw;
}

.createcommunitybtnwrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.createcommunitycategory {
  width: 40%;
  height: 2.9vw;
  color: white;
  margin-right: auto;
}
