.notificationdrop {
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
}

.notificationdropcontent {
  position: absolute;
  background-color: rgba(0, 0, 0);
  border-radius: 0.5rem;
  color: white;
  width: 25vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -10rem;
  margin-top: 1.7rem;
  line-height: 16px;
}

.notificationdropheader {
  padding: 0 0.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  color: #505c62;
}

.notificationdropheadertitle {
  font-weight: 500;
  font-size: 0.9rem;
  color: #cfd8dc;
}

.notificationdropheaderactions {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notificationdropheadericn {
  margin-right: 0.3rem;
  height: 100%;
  font-size: 1.2rem !important;
}

.notificationdropheadericn:hover {
  color: #cfd8dc;
}

.notificationdropbody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0;
}

.notifies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.3rem 0.7rem;
  line-height: 17px !important;
}

.notifiesbodywrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.notifiespicwrapper {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
}

.notifiespic {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.notifiesbody {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 0.7rem;
}

.notifiestitle {
  font-size: 1vw;
  font-weight: 500;
  height: 39%;
  text-transform: capitalize;
}

.notifiesmessage {
  color: #5c6569;
  font-weight: 410;
  font-size: 0.8vw;
}

.notifiesactions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: auto;
}

.notifiesactions .patselectedbtn,
.notifiesactions .patclearbtn {
  margin: 0 0.2vw;
}

.notificationdropmessage {
  font-weight: 430;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.4);
}
