.profileabout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0;
  color: white;
}

.profileintersection {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}

.profilepicborder {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background: white;
}

.profilepic {
  border-radius: 50%;
  border: 0.2rem solid rgba(255,255,255,0.8);
  height: 100%;
  width: 100%;
}

.profilename {
  display: flex;
  flex-direction: column;
  width: auto;
}

.name {
  font-size: 1.3rem;
  padding-left: 0.7rem;
  font-weight: 600;
}

.channelname {
  font-size: 0.8rem;
  padding-left: 0.7rem;
  color: grey;
  font-weight: 500;
  width: auto;
}

.communityinfo {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 450;
  color: rgba(255,255,255,0.7);
}

