.profileabout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0;
  color: white;
}

.profileintersection {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}

.profilepicwrapper {
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
  background: rgb(48, 47, 47);
}

.profilepic {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.profilename {
  display: flex;
  flex-direction: column;
  width: auto;
}

.name {
  font-size: 1.5vw;
  padding-left: 0.7rem;
  font-weight: 600;
}

.channelname {
  font-size: 0.9vw;
  padding-left: 0.7rem;
  color: grey;
  font-weight: 500;
  width: auto;
}

.communityinfo {
  margin-top: 1rem;
  font-size: 0.9vw;
  font-weight: 450;
  color: rgba(255, 255, 255, 0.7);
}