.setuserboxoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setuserbox {
  height: 80%;
  min-width: 27%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.5rem;
  background: #090a0bc7;
  color: rgba(255,255,255,0.7);
  box-shadow: 5px 5px #0d0c0c;
}

.newusersetuplogowrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}

.newusersetuplogo{
  height: 100%;
  width: 4rem;
}

.skipbtn {
  font-size: 0.9rem;
  font-weight: 500;
}

.skipbtn:hover {
  color: white;
  cursor: pointer;
}

.newusericn {
  width: 5rem;
  height: 5rem;
  opacity: 0.7;
}

.newuserusernametitle {
  font-weight: 500;
  font-size: 1.1vw;
  margin-top: auto;
}

.newuserusernametitle1 {
  font-size: 0.9vw;
  font-weight: 500;
  margin: 1rem 0;
}

.newuserusername {
  color: rgba(255,255,255,0.3);
  width: 100%;
  height: 2.5rem;
}

.newuserbackgroundbox, .newuserprofilepicbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 37rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: black;
}

.newuserprofilepicbox {
  width: 22rem;
}

.newuserpicwrapper {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newuserpic {
  max-height: 100%;
  max-width: 100%;
  border-radius: inherit;
}

.delicn {
  font-size: 1.3vw !important;
  height: 100% !important;
  line-height: 16px !important;
}

.delicn:hover {
  color: #fa675c;
}

.bgpicdel {
  cursor: pointer;
  margin-left: auto;
  margin-top: -2rem;
}

.newusertitle {
  margin-bottom: 1rem;
  font-weight: 350;
  font-size: 0.9rem;
}

.metatitle {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.7rem;
  color: rgba(255,255,255,0.3);
}

.newusercommunitiesbox {
  max-height: 23rem;
  width: 29rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.communityspace {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.7);
  border: 0.1rem solid transparent;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  margin: 0.5rem;
}

.communityspace.selectedcommunity {
  background: rgba(0,0,0,0.7);
  color: white;
  border: 0.1rem solid rgba(255,255,255,0.2);
}

.communityspace:hover {
  background: rgba(0,0,0,0.4);
  color: white;
}

.setusername {
  margin-top: 1rem;  
  margin-left: auto;    
}

.setusernamebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0.3vw 0.9vw;
  font-weight: 500;
  line-height: 16px;
  font-size: 0.9vw;
  text-transform: capitalize;
  color: black;
  background-color: var(--main-color);
}

#newuserbgpic, #newuserdp {
  opacity: 0;
  position: absolute;
  width: 5%;
  z-index: -1;
}

.newuserpicicn {
  cursor: pointer;
}
