.contenttitle {
  margin-top: 0.5rem;
  padding-left: 1.7rem;
  color: grey;
  font-size: 1vw;
}

.contentfilter {
  display: flex;
  width: 98%;
  min-height: 13rem;  
  justify-content: flex-start;
}

@media  ( min-width: 600px) and (max-width: 800px) {
  .contentfilter {
    display: flex;
    width: 98%;
    min-height: 10rem;  
    justify-content: flex-start;
  }
}

