.postpageheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.userpicwrapper {
  border: 1px solid grey;
  border-radius: 50%;
  height: 3.5vw;
  width: 3.7vw;
}

.userpic {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.postpageheadlineinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.3);
}

.postpageinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.username {
  font-size: 1vw;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.username:hover {
  color: rgba(255, 255, 255, 0.9);
}

.communityname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8vw;
  font-weight: 500;
}

.communitynametxt {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 0.3rem;
  cursor: pointer;
  font-size: 0.9vw;
}

.communitynametxt:hover {
  color: white;
  text-decoration: underline;
}

.created {
  align-self: flex-end;
  font-size: 0.9vw;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}

.postpageheading {
  padding: 0.5rem;
  font-size: 1.4vw;
  font-weight: 600;
  color: white;
  height: auto;
  max-height: 5rem;
  max-width: 48vw;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.posttags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 0 0.5rem 0;
}

.posttag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
  border-radius: 2rem;
  background: #2232364f;
  color: #8acaff;
  font-weight: 500;
  padding: 0.1rem 0.5rem 0.1rem 0.1rem;
  margin: 0rem 0.3rem;
  text-transform: capitalize;
}

.posttagicn {
  font-size: 1vw !important;
  margin: 0 0.2rem;
}

.postpagepostwrapper {
  width: 100%;
}

.postpageblog {
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  max-width: 49vw;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.postpagefooter {
  margin: 0.7rem 0 0.3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.postpagefootertabs,
.postpagefooterpintab {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  background: #28272740;
  padding: 0.3vw 0.7vw;
  border-radius: 1vw;
  margin: 0 0.3rem;
  cursor: pointer;
}

.postpagefooterpintab {
  margin-left: auto;
}

.icnspaceup,
.icnspacedown {
  padding-right: 0.5rem;
  color: grey;
  font-size: 1.1vw;
}

.icnspacedown {
  padding-right: 0;
  padding-left: 0.5rem;
}

.icnspaceup:hover {
  color: #2196F3;
}

.icnspacedown:hover {
  color: #f44336;
}

.icnspacesave {
  color: grey;
  padding-right: 0.3rem;
  font-size: 1.1vw;
}

.icnspacesave:hover {
  color: #2196F3;
}

.postpagesortby {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.sortcomments {
  color: white;
  border-radius: 0.5rem;
  height: 2rem;
  width: 19%;
}

.postpagesortbytrim {
  font-size: 0.9vw;
  font-weight: 450;
  color: white;
  margin: 0 0.3rem;
}

.commentsection {
  width: 100%;
  margin-top: 1rem;
  max-width: 48vw;
}