.useroverviewcomment {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: grey;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background: #090808e8;
  box-shadow: 1px 1px black;
  padding: 0.5rem;
}
                   
.cmntoverviewpost {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 0.7rem;
  color: rgba(255,255,255,0.3);
}
                      
.cmntoverviewpostpicwrapper {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.cmntoverviewpostpic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.cmntoverviewpostname {
  font-size: 0.9vw;
  color: rgba(255,255,255,0.7);
  padding: 0 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.cmntoverviewpostname:hover {
  color: white;
}

.cmntoverviewposttitle {
  padding: 0.5rem;
  cursor: pointer;
  color: rgba(255,255,255,0.7);
}
                    
.cmntoverviewcontent, .cmntoverviewmetacontent {
  background: rgba(0, 0, 0, 0.336);  
  padding: 0.5rem;
  border-radius: 0.5rem;  
  font-size: 1vw;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 47vw;
}

.cmntoverviewmetacontent {
  width: 46vw; 
}

.cmntoverviewcontentparent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.9vw;  
}

.parentcmntwrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.parentcmntpicwrapper {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.parentcmntpic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.parentcmnt {
  color: rgba(255,255,255,0.7);
  margin: 0.2rem 0.7rem;
  padding: 0.1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 45vw;
}

.zeropost {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zeroposttile {
  font-size: 1.1rem;
  color: gray;
}

.zeroposttitle1 {
  font-size: 0.9rem;
  color: rgba(255,255,255,0.4);
}

.zeropostbtnwrapper {
  margin-top: 0.5rem;
}

.zeropostbtn {
  border-radius: 0.5rem;
  color: black;
  background: #37474f;
}

.zeropostbtn:hover {
  background: #90a4ae;
}
