.commentspace {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5vw;
}

.newcommentwrapper {
  width: 100%;
  height: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  flex-direction: column;
  margin-top: 1vw;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}

.parentComment {
  font-size: 0.9vw;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-weight: 500;
}

.parentcommenttxt {
  color: rgba(255, 255, 255, 0.4);
  padding-left: 0.5rem;
}

.newcomment {
  color: #cfd8dc;
  border: 0;
  height: 6vw;
  width: 100%;
  background: black;
  border-radius: 0.5rem;
  padding: 0.1rem;
  font-size: 0.9vw;
  font-weight: 450;
  resize: none;
}

.newcommentaction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
}

.newcommentaction .patselectedbtn,
.newcommentaction .patclearbtn {
  margin: 0 0.3vw;
}
