textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.flexcontainerL {
  flex: 3 35%;
  margin-top: 2rem;
}

.flexcontainerR {
  flex: 1 20%;
  margin: 5.5rem 1.5rem;
}

.createpost {
  margin-bottom: 3rem;
}

.newposttitle {
  padding: 0.3vw;
  background: linear-gradient(to left, #26252f00, #2e9cd5);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 0.4vw 0 0 0.4vw;
  width: 80%;
  border-right: 0px;
  font-size: 1.3vw;
}

.choose {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.choosecommunity,
.chooseprivacy {
  width: 37%;
  height: 3vw;
  margin-bottom: 0.7vw;
  background: #090808e8 !important;
  color: grey;
  border-radius: 0.5rem;
}

.chooseprivacy {
  width: 20%;
}

.chooseprivacy .patdropdown,
.choosecommunity .patdropdown {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.choosecommunity input {
  color: white;
}

#choosecommunity {
  background: white;
  color: black;
}

.createnewpost {
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #090808e8 !important;
  color: #ffffffa6;
  box-shadow: 1px 1px #395d70;
}

.typeofpost {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.7vw;
  color: #ffffff7e;
}

.typeofpost .htab {
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.2vw 0.7vw;
  font-size: 0.9vw;
}

.typeofpost .htabicn {
  font-size: 1.2vw;
}

.active {
  background: #46484910;
  color: white !important;
  border-color: #ffffff18 !important;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newpost {
  padding: 1vw;
  width: 98%;
}

.createposttile input {
  color: white;
}

.createposttile {
  height: 2.5vw;
  color: grey;
  margin-bottom: 1vw;
}

#postcontent {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  max-width: 100%;
  height: 15vw;
  padding: 0.5vw;
  resize: none;
  border-radius: 0.5vw;
}

#url {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5vw;
  height: 4vw !important;
  width: 100%;
  resize: none;
  color: white;
  border-radius: 0.5vw;
}

.postbtnwrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rulesL {
  font-weight: 500;
  padding-right: 0.3rem;
}

.newpostinfo {
  border-radius: 0.5rem;
  background: #090808e8 !important;
  color: #ffffffa6;
  box-shadow: 1px 1px #1d262b;
}
