.polloptions {
  border: 0.1rem solid grey;
  margin-top: -0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.options {
  margin: 1.1vw;
  width: 60%;
}

.pollinputs {
  height: 2.5vw;
  margin-bottom: 0.7vw;
  color: grey;
}

.pollinputs input {
  color: white;
}

.addoptions {
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;  
  padding: 0.1vw 0.8vw;
  font-size: 0.9vw;
  width: fit-content;
  border: 1px solid transparent; 
}

.addoptions:hover {
  background: rgb(0,0,0,0.3);
  color: #42a5f5;
  border-color: rgba(255, 255, 255, 0.1);
}

.pollrules {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.9vw;
}
