.block {
  display: block;
}

.none {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sucreateprofileform {
  border-radius: 0.5rem;
  width: 40%;
  background: #171717;
  color: black;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sucreateprofiletitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin: 0.5rem 0;
}

.handlecloseicn {
  margin-left: auto;
  margin-right: 0.5em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
}

.handlecloseicn:hover {
  color: rgba(255, 255, 255, 0.9);
}

.sucreateprofilecontent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.sucreateprofileinput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}

.sucreateprofileinputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.sucreateprofilehalflinput,
.sucreateprofilehalfrinput {
  width: 100%;
  height: 2.5rem;
}

.sucreateprofilehalfrinput {
  margin-right: 0.5rem;
}

.sucreateprofilehalfrinput {
  margin-left: 0.5rem;
}

.sucreateprofilefooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.sucreateprofilebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  height: 2rem;
}