.switch label input[type="checkbox"]:checked+.lever::after {
  background-color: #2196F3;
}

.useroverviewtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  font-size: 1.3rem;
  margin: 0.7rem 0;
}

.uoverviewicn {
  padding-right: 0.5rem;
}

.usetting,
.privateusettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  width: 60%;
  margin: 1rem 0;
}

.usettingtitle {
  color: grey;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.usettingtitlemeta {
  font-size: 0.8rem;
  margin: 0.3rem 0 0 0;
  color: grey;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  width: 100%;
  text-transform: capitalize;
}

.usettingitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.7rem 0;
}

.usettingitemlabels {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.usettingitemtitle {
  color: white;
  margin: 0.3rem 0;
}

.usettingitemmetatitle {
  font-size: 0.7rem;
  color: grey;
}

.usettingitemchange {
  width: 7%;
  height: 53%;
}

.usettingitemdrop {
  margin-left: auto;
  height: 2.5rem;
  width: 20%;
}

.usettingitemdrop .patdropdownprofile {
  color: rgba(255, 255, 255, 0.7);
}

.usettingitemdrop .droppers {
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
}

.usettingitembtn,
.usettingupdatechangesbtn {
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usettingupdatechangesbtn {
  margin-left: auto;
}

.picwrapper,
.wallpicwrapper {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.wallpicwrapper {
  width: 10rem;
  border-radius: 0.5rem;
}

.pic,
.wallpic {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

/* privacy */
.privacybox {
  margin-left: 1rem;
  width: 30%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2vw;
  padding: 0.7rem;
  color: white;
}

.privacyboxtitle {
  color: #096fc2;
  ;
  font-size: 1.1vw;
  font-weight: 500;
  width: 100%;
  text-transform: capitalize;
}

.privacyboxbody {
  height: 83%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.privacyboxfooter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end
}

.privacyboxbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  padding: 0.5rem 0.7rem;
  font-size: 0.9vw;
  font-weight: 500;
  text-transform: capitalize;
}