.tag {
  border: 1px solid rgba(255,255,255,0.1);
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  color: rgba(255,255,255,0.3);
  font-weight: 500;
  font-size: 0.9vw;
  text-transform: capitalize;
}

.tag:hover {
  border: 0.1rem solid white;
  color: white;
}
